@import url("https://api.fonts.coollabs.io/css2?family=Overpass:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 15px;
}

#root {
  height: 100vh;
  width: 100vw;
}

input:hover + label {
  @apply bg-light-grey;
  @apply text-white;
}

input:checked + label {
  @apply bg-orange-500;
  @apply text-white;
}
